<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seb's video converter</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Seb's video converter</h1>
            <p>Convert your videos to MP4 using Cuda & NVIDIA Encoder</p>
        </header>

        <div id="drop-zone" class="drop-zone">
            <p>Drag and drop your video files here</p>
            <button id="upload-btn">Browse Files</button>
            <input type="file" id="file-input" multiple style="display:none;">
        </div>

        <div id="file-list" class="file-list"></div>
    </div>

    <script src="/static/js/scripts.js"></script>
</body>
</html>
